@import "tailwindcss";

@theme {
  --color-blue-600: #2563eb;
}

@variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  @apply transition-colors duration-300 ease-in-out;
}
